*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: center;
    width: 100vw;
    gap: 5vw;
    height: 8vh;
    background-color: black;
}
.navbar a{
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.Home{
    display: flex;
    justify-content: center;
}
.Auth{
    display: grid;
    justify-content: center;
    gap: 50px;
}
.auth-container{
   background-color: gray;
   padding: 20px;
}
.auth-container form{
    display: grid;
    gap: 20px;
    padding-bottom: 15px;
}
.form-group{
    display: flex;
    justify-content: center;
}